<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="hero-background">&nbsp;</div>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
        <script>
            function updateBackground() {
                let scrollTop = window.scrollY;
                let scrollMax = document.documentElement.scrollHeight - window.innerHeight;
                let scrollProgress = scrollTop / scrollMax;

                let backgroundHeight = 2.0 * window.innerHeight;
                let heightDistance = backgroundHeight - window.innerHeight;
                let offsetY = heightDistance * -scrollProgress;

                let brightness0 = 1.2;
                let brightness1 = 1.2;
                let brightness2 = 1.6;
                let blur0 = 0.0;
                let blur1 = 0.75;
                let blur2 = 0.0;

                let el = document.querySelector('#hero-background');
                let blur = blur0;
                let brightness = brightness0;
                if (scrollProgress > 0.34) {
                    blur = blur1;
                    brightness = brightness1;
                }
                if (scrollProgress > 0.8) {
                    let fadeInRegion = ((scrollProgress-0.8)*10.0) / 2.0;
                    if (fadeInRegion > 1.0) fadeInRegion = 1.0;
                    blur = (blur2-blur1 * fadeInRegion) + blur1;
                    brightness = ((brightness2-brightness1) * fadeInRegion) + brightness1;
                }
                // Round blur/brightness to two decimel places, and offsetY to whole pixels.
                // Doing this reduces CSS state changes and improves perf.
                blur = Math.round((blur + Number.EPSILON) * 100) / 100;
                brightness = Math.round((brightness + Number.EPSILON) * 100) / 100;
                offsetY = Math.round(offsetY);
                el.style.setProperty("transform", "translateY("+offsetY+"px)");
                el.style.setProperty("filter", "blur("+blur+"rem) brightness("+brightness+")");
            }

            updateBackground();
            window.addEventListener("load", updateBackground);
            document.addEventListener('scroll', updateBackground);
            window.addEventListener('resize', updateBackground);
        </script>
    </body>
</html>
