<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="hero-background">&nbsp;</div>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
        <script>
            function updateBackground() {
                let scrollTop = window.scrollY;
                let scrollMax = document.documentElement.scrollHeight - window.innerHeight;
                let scrollProgress = scrollTop / scrollMax;

                let backgroundHeight = 2.0 * window.innerHeight;
                let heightDistance = backgroundHeight - window.innerHeight;
                let offsetY = heightDistance * -scrollProgress;

                let isLightMode = !(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);

                let stops = [
                    {
                        position: 0.0,
                        blur: 0.0,
                        brightness: isLightMode ? 2.0 : 1.2,
                    },
                    {
                        position: 0.1,
                        blur: 0.0,
                        brightness: isLightMode ? 2.0 : 1.0,
                    },
                    {
                        position: 0.8,
                        blur: 0.75,
                        brightness: isLightMode ? 1.5 : 1.0,
                    },
                    {
                        position: 1.0,
                        blur: 0.0,
                        brightness: isLightMode ? 1.2 : 1.2,
                    },
                ]

                let el = document.querySelector('#hero-background');
                let lastStop = 0;
                let nextStop = 0;
                while (scrollProgress > stops[nextStop].position) {
                    lastStop = nextStop;
                    nextStop++;
                }

                let range = stops[nextStop].position - stops[lastStop].position;
                let stopProgress = (scrollProgress-stops[lastStop].position) / range || 0;

                let position = stops[lastStop].position + ((stops[nextStop].position-stops[lastStop].position) * stopProgress);
                let blur = stops[lastStop].blur + ((stops[nextStop].blur-stops[lastStop].blur) * stopProgress);
                let brightness = stops[lastStop].brightness + ((stops[nextStop].brightness-stops[lastStop].brightness) * stopProgress);

                // Round blur/brightness to two decimel places, and offsetY to whole pixels.
                // Doing this reduces CSS state changes and improves perf.
                blur = Math.round((blur + Number.EPSILON) * 100) / 100;
                brightness = Math.round((brightness + Number.EPSILON) * 100) / 100;
                offsetY = Math.round(offsetY);

                el.style.setProperty("transform", "translateY("+offsetY+"px)");
                el.style.setProperty("filter", "blur("+blur+"rem) brightness("+brightness+")");
            }

            updateBackground();
            window.addEventListener("load", updateBackground);
            document.addEventListener('scroll', updateBackground);
            window.addEventListener('resize', updateBackground);
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateBackground);
</script>
    </body>
</html>
