{{ define "main" }}
{{ $style := resources.Get "layouts/docs.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<main aria-role="main" class="main-docs">
  <aside>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.docs }}
        {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent "docs" . }}active{{ end }}">
            <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          <ul class="sub-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ else }}
          <li>
            <a href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </aside>
  <div class="docs">
    {{ .Content }}
  </div>
  {{.TableOfContents}}
</main>
{{ end }}
