@import "../_theme.scss";
@import "../_main.scss";

.contributors,
.sponsors,
.footer a {
    color: $dark_fg;
}
.navbar {
    @include glass;
    background: $light_bg;
    @media (prefers-color-scheme: dark) {
        background: $dark_bg;
    }
}
.glass, .big-button {
    color: $dark_fg;
    text-shadow: 0 0 0.6rem black, 0 0 0.3rem black;
}
#hero-background-0 {
    display: block;
    background-image: url(../img/core_poly_low_light.svg);
    @media (prefers-color-scheme: dark) {
        background-image: url(../img/core_poly_low_dark.svg);
    }
}
#hero-background-1 {
    display: block;
    background-image: url(../img/core_poly_high_light.jpg);
    @media (prefers-color-scheme: dark) {
        background-image: url(../img/core_poly_high_dark.jpg);
    }
}