// When true, a warning is displayed at the top of the page indicating this is the next
// version of the website and not to share it.
$next: false;

// Whether an alert is shown at the top of the page or not.
$alert: true;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: Orbitron;
    background: $light_bg;
    color: $light_fg;
    @media (prefers-color-scheme: dark) {
        background: $dark_bg;
        color: $dark_fg;
    }
}

#hero-background-0,
#hero-background-1 {
    position: fixed;
    width: 100%;
    height: 200%;
    background-position-x: center;
    background-position-y: top;
    background-size: 125% 100%;
}

@media (max-width:800px) {
    #hero-background-0,
    #hero-background-1 {
        height: 200%;
        background-size: auto 200%;
    }
}


main p,
main li,
small,
span {
    font-family: Verdana, Geneva, sans-serif;
}

main p,
main li {
    font-size: 16px;
}

a {
    color: $light_fg;
    @media (prefers-color-scheme: dark) {
        color: $dark_fg;
    }
}

blockquote {
    // TODO(theme)
    color: grey;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 3rem;
}

p {
    margin-bottom: 0;
}

.auto-color {
    @media (prefers-color-scheme: dark) {
        filter: invert(100%);
    }
}

.auto-color-inverted {
    @media (prefers-color-scheme: light) {
        filter: invert(100%);
    }
}

.invert-color {
    filter: invert(100%);
}

.svg-icon {
    height: 1.25rem;
    display: flex;
    padding-top: 0;
    color: $light_fg;
    filter: none;
    @media (prefers-color-scheme: dark) {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(143deg) brightness(105%) contrast(104%);
    }
}

.next {
    @if not $next {
        display: none !important;
    }
}

.not-next {
    @if $next {
        display: none !important;
    }
}

@mixin glass {
    background: $glass_color_light;
    backdrop-filter: $glass_blur;
    -webkit-backdrop-filter: $glass_blur;
    @media (prefers-color-scheme: dark) {
        background: $glass_color_dark;
    }
}

@mixin glass_text_block {
    background: $glass_text_block_color_light;
    backdrop-filter: $glass_text_block_blur;
    -webkit-backdrop-filter: $glass_text_block_blur;
    @media (prefers-color-scheme: dark) {
        background: $glass_text_block_color_dark;
    }
}

.navbar {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 2.0rem rgba(0,0,0,0.6);
    background: $light_bg;
    @media (prefers-color-scheme: dark) {
        background: $dark_bg;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        max-width: 70rem;
        margin: auto;

        >div {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .logo {
            display: inline-block;
            padding-left: 1em;
            padding-right: 1em;
        }

        .logo>.img {
          width: 9.5rem;
          height: 2.25rem;
          display: flex;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../assets/media/mach/logo_light.svg");
          @media (prefers-color-scheme: dark) {
            background-image: url("../assets/media/mach/logo_dark.svg");
          }
        }
      
        &>div>a:not(.logo) {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            line-height: 3rem;
            height: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            color: $light_fg;
            @media (prefers-color-scheme: dark) {
                color: $dark_fg;
                text-shadow: 0 0 0.2rem black;
            }
        }

        &>div>a:not(.logo):not(.svg-item) {
            padding-top: 0.25rem;
            height: calc(100% - 0.25rem);
        }
    }
}

.glass-link:hover,
.glass-link:active {
  @include glass;
}

@media (max-width:480px) {
    .navbar>.content {
        flex-direction: column;
    }

    .navbar>.content>div {
        z-index: 1;
    }

    .navbar>.content>div>a {
        border-top: 1px solid grey;
        background: #06071B;
    }
}

.alert {
    height: 0;
    z-index: 1;
    justify-content: center;
    display: flex;

    @if not $alert {
        display: none;
    }

    &>span {
        @include glass_text_block;
        border-top: 1px solid #00000026;
        z-index: 2;
        height: 1.25rem;
        padding: 0.5rem;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        @if $next {
            background: $warning_bg;
            color: $dark_fg;
        }
    }
}

/* layout */
#content {
    // min-height: calc(100% - 3rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    // padding-left: 1em;
    // padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    // width: calc(100% - 2em);
    width: 100%;
    overflow: hidden;

    main {
        display: flex;
        z-index: 1;
        min-height: calc(100vh - 10rem);
    }
}

.footer {
    z-index: 1;
    margin: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}

main {
    width: 100%;
    display: flex;
}

.home,
.unlimited,
.single {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.home,
.unlimited {
    width: 100%;
    text-align: center;

    p {
        max-width: 40rem;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-single {
    max-width: 50rem;
    margin: auto;
}

/* footer */
.footer {
    border-top: 1px solid grey;
    padding-top: 1rem;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline;
    font-size: 12px;
    justify-content: space-between;
    width: 80%;
}

.big-button img {
    height: 5rem;
    position: relative;
    top: -0.25rem;
    margin-right: 1rem;
}
.big-button {
    @include glass;
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    line-height: 3rem;
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    filter: brightness(100%);
    font-size: 200%;
    height: 3rem;
    @media (prefers-color-scheme: dark) {
        text-shadow: 2px 2px #000;
    }

    background-repeat: no-repeat;
    background-position: -2400px -240px, 0 0;
    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
    background-image: -webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 100%
    );
    background-image: linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 100%
    );
}
.big-button:before {
    @include glass;
    position: absolute;
    z-index: -1;
    width: 35rem;
    margin-left: -3rem;
    height: 7rem;

    clip-path: polygon(
        0 0,
        calc(100% - 1rem) 0,
        100% 1rem,
        100% 100%,
        1rem 100%,
        0 calc(100% - 1rem)
    );
    content: ''
}

.big-button:hover,
.big-button:active {
    background-position: 0 0, 0 0;
    transition-duration: 0.5s;
    @media (prefers-reduced-motion: reduce) {
        transition-duration: 0s;
    }
}

.glass {
    @include glass;
}

.transparent-card {
    @include glass_text_block;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(26, 54, 59, 0.6);
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.transparent-card,
.transparent-card a,
.transparent-card a:active {
    color: $dark_fg;
}

h2 {
    text-align: left;
    margin-top: 2rem;
}

.img-link {
   text-decoration: none;
   outline:none;
}

.code {
  text-align: left;
  // TODO(theme)
  background: #ffeadf;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
}

.code::-moz-selection { /* Code for Firefox */
  // TODO(theme)
  color: white;
  background: black;
}

.code::selection {
  // TODO(theme)
  color: white;
  background: black;
}
