* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: Orbitron;
    background: #06071b;
    color: #e0d9f6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main p,
main li,
small,
span {
    font-family: Verdana, Geneva, sans-serif;
}

main p,
main li {
    font-size: 16px;
}

a {
    color: #f8f9fb;
}

blockquote {
    color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 3rem;
}

p {
    margin-bottom: 0;
}

.invert-color {
    filter: invert(100%);
}

.svg-icon {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(143deg)
        brightness(105%) contrast(104%);
    height: 1.25rem;
    display: flex;
    padding-top: 0;
}

.navbar {
    border-bottom: 1px solid grey;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 70rem;
        margin: auto;

        > div {
            display: flex;
            align-self: stretch;
        }

        .logo {
            display: inline-block;
            padding-left: 1em;
            padding-right: 1em;
        }

        .logo img {
            height: 2.25rem;
            padding: 0.25rem;
            display: flex;
        }

        & > div > a:not(.logo) {
            display: flex;
            align-items: center;
            align-self: stretch;
            text-decoration: none;
            padding: 1rem;
            color: #f8f9fb;

            &:hover,
            &:active {
                background: rgba(255, 255, 255, 0.11);
            }
        }
    }
}

@media (max-width: 480px) {
    .navbar > .content {
        flex-direction: column;
    }

    .navbar > .content > div {
        z-index: 1;
    }

    .navbar > .content > div {
        justify-content: center;
        border-top: 1px solid grey;

        & > a {
            padding: 0.5rem !important;
        }
    }
}

/* layout */
#content {
    // min-height: calc(100% - 3rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    // padding-left: 1em;
    // padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    // width: calc(100% - 2em);
    width: 100%;
}

.footer {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}

main {
    width: 100%;
    display: flex;
}

.home,
.unlimited,
.single {
    color: #f8f9fb;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.home,
.unlimited {
    width: 100%;
    text-align: center;

    p {
        max-width: 40rem;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-single {
    max-width: 50rem;
    margin: auto;
}

.code-inline {
    color: black;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.code {
    text-align: left;
    background: #212234;
    color: #f8f9fb;
    border: solid 1px #525361;
    padding: 0.5rem;
    font-weight: bold;
}

.code::selection, .code *::selection {
    color: #161616;
    background: #3CC1F5;
}

/* footer */
.footer {
    border-top: 1px solid grey;
    padding-top: 1rem;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline;
    font-size: 12px;
    justify-content: space-between;
    width: 80%;
}
