html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background: #0f0f0f;
    color: white;
    font-family: Orbitron;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main p, main li {
    font-family: arial,sans-serif;
    font-size: 16px;
}
a {
    color: white;
}
blockquote {
    color: grey;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    margin-top: 3rem;
}
p {
    margin-bottom: 0;
}

.color-inverted {
    filter: invert(100%);
}

.navbar {
    height: 3.25rem;
    background: #202020;
    border-bottom: 1px solid grey;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 70rem;
        margin: auto;
        >div {
            display: flex;
            height: 100%;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        .logo {
            padding-left: 1em;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        a {
            display: inline-block;
            text-decoration: none;
            height: 100%;
            line-height: 3.25rem;
            padding-right: 1rem;
            padding-left: 1rem;
            &:hover, &:active {
                background: #515151;
            }
        }
        .logo {
            display: inline-block;
            height: calc(100% - 1em);
        }
        .logo>img {
            height: 100%;
        }
    }
}

/* layout */
#content {
    // min-height: calc(100% - 3rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2em);
}
.footer {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}
main {
    width: 100%;
    display: flex;
}
.home, .single, .mach {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.mach {
    width: 100%;
    text-align: center;
    p {
        max-width: 40rem;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .mach1 {
        margin: auto;
        width: 80%;
        &>object {
            margin-top: 2rem;
            width: 100%;
        }
    }
}
.main-home, .main-single {
    max-width: 50rem;
    margin: auto;
}

/* homepage */
.main-home {
    justify-content: center;
    height: 100%;
}
.home {
    justify-content: center;
    width: 100%;
    height: 100%;
    &-logo {
        width: 100%;
        align-self: center;
    }
    >h5, >h6 {
        text-align: center;
    }
}

/* footer */
.footer {
    border-top: 1px solid grey;
    padding-top: 1rem;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline;
    font-size: 12px;
    justify-content: space-between;
    width: 80%;
}
