name: deploy to github pages

on:
  push:
    branches:
      - main # Set a branch to deploy
      - next # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.110.0'
          extended: true

      - name: Build
        run: |
          # Build the main branch (latest version)
          git checkout main
          hugo --minify
          mv public final

          # # Build the next branch (secret "next" version of website, only used during major redesign)
          # git checkout next
          # hugo --minify
          # mv public final/next

          # Deploy legacy versions in subfolders
          git checkout v0.1
          hugo --minify
          mv public final/v0.1

          # Finish up
          mv final public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
